name: Build Android APK

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: HeGanjie/buildozer-action@v2
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: master
          workdir: mc_bot_project

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: mc_bot_project/bin/*.apk
